.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.todo-list > li {
  cursor: pointer;
}

.todo-list--item-complete {
  text-decoration: line-through;
}
